@use '../../variables' as *;

.skillContainer{
    width:80%;
    margin:auto;
}
.skillGroup{
    padding:1.5rem;
    border-radius: 0.5rem;
    background-color:$primary;
    border: 1px solid $primary-dark;
    max-width:90rem;
    color: $white;
    font-weight:600;
}
ul{
    list-style:none;
    padding:0rem;
    margin:0rem;
}

@media screen and (max-width:1200px){
    .skillContainer{
        width:85%;
    }
}

@media screen and (max-width: 768px){
    .skillContainer{
        width: 100%;
    }
}