.headerContainer{
    background-color: #191919;
    width:100dvw;
}
.header{
    background-color:#191919;
    padding: 1rem 2rem 0rem;
    width:100dvw;
    max-width: 100rem;
    margin:auto;
    display:flex;
    justify-content: space-between;
    color:#f8f8fa;
}