@use '../../variables' as *;

.bottomContainer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: $black;
    text-align: center;
}

.copy {
    color: $primary;
}

.footerLink {
    color: $white;
    display: inline-block;
    margin-left: 1.825rem;
    margin-right: 1.825rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    cursor:pointer;
    &:hover {
        color: $primary;
        text-decoration: none;
        }
}