.sect:has(.profile){
  width:100dvw;
  background-color: #191919;
}

a{
  text-decoration: none;
  background-color: transparent;
}

.profile{
  grid-template-areas: "a . c"
                      "b b c"
                      "b b c";
  padding:8rem 3rem;
  display:grid;
  color: #f8f8fa;
  max-width:100rem;
  width:80dvw;
  margin:auto;
  align-items: center;
}

.section{
  padding:4rem 3rem;
}

.profile h2{
  color: #4682B4;
  grid-area:a;
}
.profile p{
  grid-area:b;
  line-height: 2;
  font-size: 1.1rem;
}

.face{
  grid-area: c;
}
.face img{
  height:24rem;
  border-radius:100%;
  margin-left:6rem;
  border: 3px solid #4682B4;
}

.pj {
  color: #4682B4;
}

.pj:hover {
  text-decoration: none;
  color: #3A6A91;
}

/* slick list overrides */
.slick-slider .slick-next::before,
.slick-slider .slick-prev::before {
    color: #4682B4; 
    font-size: 2rem ; 
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    width: 2rem; 
    height: 2rem; 
    z-index:2
}

.slick-slider.slick-initialized{
  max-width:115rem;
  width:100%;
  margin:auto;
}

.slick-slider .slick-next{
  right: 3rem;
}

.slick-slider .slick-prev{
  left:3rem;
}