.sect:has(.profile){
  width:100dvw;
  background-color: #191919;
}

a{
  text-decoration: none;
  background-color: transparent;
}

.profile{
  grid-template-areas: "a . c"
                      "b b c"
                      "b b c";
  padding:8rem 3rem;
  display:grid;
  color: #f8f8fa;
  max-width:100rem;
  width:80dvw;
  margin:auto;
  align-items: center;
}

.section{
  padding:3rem;
}

.profile h2{
  color: #66BFBF;
  grid-area:a;
}
.profile p{
  grid-area:b;
  line-height: 2;
  font-size: 1.1rem;
}

.face{
  grid-area: c;
}
.face img{
  height:24rem;
  border-radius:100%;
  margin-left:6rem;
  border: 3px solid #66BFBF;
}

.pj {
  color: #66BFBF;
}

.pj:hover {
  text-decoration: none;
  color: #11999E;
}


