@use '../../variables' as *;

.drop {
    padding: .625rem;
    img {
        height: 2.75rem;
    }
    a {
        text-decoration: none;
        display:flex;
        flex-direction: column;
        align-items:center;
        white-space: nowrap;
        &:hover .labels{
            color:$primary;
        }
    }
    &:hover h6 {
        opacity: 1;
    }
}

.labels {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.625rem;
    display: block;
    padding-top: 0.625rem;
}
